
.fullcover {
  background: linear-gradient(179.71deg, #273343 0.25%, #161e29 84.69%);
  background-size: cover;
}

nav.navigationbar {
  background: linear-gradient(179.71deg, #273343 0.25%, #161e29 84.69%);
}

.stream {
  color: #ffc907;
}
div.cards {
  border: none;
}
a.nav-link:hover {
  color: #ffc907;
}
.intro {
  display: flex;
  justify-content: end;
  align-items: end;
}
.title {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
}
.trending {
  height: auto;
  background-size: cover;
}

.listcard {
  cursor: pointer;
  
}

.moviecardImages {
  width: 160px;
  height: 250px;
}

.judul {
  color: #ffc907;
}

.favoritemovies {
  text-shadow: 2px 2px black;
  color: #ffc907;
  font-size: 30px;
  margin-left: 20px;
  border: 3px solid;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.overview {
  color: white;
  
}

/* BAGIAN HIGHLIGHT */

.Highlight-content {
  padding: 50px;
  height: 800px;
  background-size: cover;
  

}
.summaryHighlight {
    color: white;
    margin-top: 400px;
    
}
/* Bagian Continue */
div.continue {
  display: flex;
  flex-direction: column;
  border: none;

}

.wrapper {
  display: flex;
}

.imgContinue {
  border-radius: 20px;
}